.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-item {
  padding: 12px 24px;
  transition: background-color 0.3s, color 0.3s;
}

.menu-item:hover {
  background-color: #e0f7fa;
  color: #006064;
}

.active-menu-item {
  padding: 12px 24px;
  font-weight: bold;
  color: #006064;
  background-color: #e0f7fa;
}